<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      id="1"
      pictureCover="https://miro.medium.com/v2/resize:fit:720/format:webp/0*DTy8tlNHXGc0g4sB"
      cardTitle="Saiu a nova versão do Angular"
      cardDescription="Nova versão do framework é lançada pelo Google."
    ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      id="2"
      pictureCover="https://cdn.thenewstack.io/media/2023/01/b97ec242-angular_vs_react.jpg"
      cardTitle="Angular vs React, comparação detalhada das ferramentas"
    ></app-small-card>
    <app-small-card
      id="3"
      pictureCover="https://assets-global.website-files.com/5f64c4e9139e46231d773b0a/60b897b733499359cc102933_typescript-vs-javascript-understanding-the-differences.jpg"
      cardTitle="Conheça as diferenças entre TypeScript e JavaScript"
    ></app-small-card>
    <app-small-card
      id="4"
      pictureCover="https://mdevelopers.com/storage/0_frontendvsbackend_d4289130.png"
      cardTitle="Frontend ou Backend? Como escolher uma área"
    ></app-small-card>
  </div>
</div>
