<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      id="{{ bigPost?.id }}"
      pictureCover="{{ bigPost?.picture }}"
      cardTitle="{{ bigPost?.title }}"
      cardDescription="{{ bigPost?.description }}"
    ></app-big-card>
  </div>
  <div class="articles__others">
    @for (post of smallPosts; track post.id) {
    <app-small-card
      id="{{ post.id }}"
      pictureCover="{{ post.picture }}"
      cardTitle="{{ post.title }}"
    ></app-small-card>
    }
  </div>
</div>
